aiohttp==3.8.2
APScheduler==3.10.4
motor
pandas==2.2.2
psutil==5.9.8
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyromod==3.1.6
python-dotenv==1.0.1
TgCrypto==1.2.3
pymongo
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
